template(name='user_offers')
    .ui.header 
        i.donation.icon
        |offers
    .ui.header 
        i.clock.grey.icon
        |available 
    .ui.large.list
        each available_offers
            .item 
                .content
                    .header
                        |#{title}
                        if automatic 
                            i.yellow.lightning.icon(title='automatic, code based')
                    .ui.small.compact.button.accept_offer
                        i.green.checkmark.icon
                        |accept
                    .ui.small.compact.button.reject_offer
                        i.red.cancel.icon
                        |reject
    
    .ui.header 
        i.ban.grey.icon
        |rejected 
    .ui.list
        each rejected_offers
            .item
                .content
                    .header #{title}
                    i.circular.link.undo.icon.unreject_offer(title='unreject')
            
    .ui.header
        i.thumbs.up.grey.icon
        |accepted 
    .ui.list
        each accepted_offers
            .item
                .content
                    .header
                        |#{title}
                        if automatic
                            i.yellow.lightning.icon(title='automatic')
                    i.circular.link.undo.icon.unaccept_offer(title='unaccept')
    .ui.header
        i.checkmark.grey.icon
        |completed 
    .ui.list
        each completed_offers
            .item #{title}
