template(name='classroom_lunch_small')
    .ui.center.aligned.header
        +i name='food'
        |Lunch - Teacher View
    a.ui.button(href="/classroom/#{_id}/lunch")
        i.external.icon
        //- |Full 
        | Student View
    .ui.divided.relaxed.list
        each classroom_students
            unless lunch_chosen
                .ui.item
                    img.ui.mini.inline.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .ui.inline.header #{name}
                    .ui.basic.large.button.choose_home
                        i.home.icon
                        //- +ismall name='home'
                        | Home
                        span.ui.red.text -$3
                    .ui.basic.large.button.choose_cafeteria
                        //- +ismall name='food'
                        i.food.icon
                        | Cafeteria
                        span.ui.red.text -$5



template(name='classroom_lunch')        
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                .ui.center.aligned.large.button.back_to_classroom
                    i.chevron.left.icon
                    |Lunch - Teacher View
            .eight.wide.column
                .ui.center.aligned.large.header 
                    //- +i name='food'
                    i.food.icon
                    |#{current_doc.title}
                    |Lunch - Student View
    .ui.four.stackable.cards
        each classroom_students
            unless lunch_chosen
                .ui.card
                    img.ui.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        .ui.header #{name}
                        .ui.huge.fluid.basic.button.choose_home
                            +ismall name='lunchbox'
                            | Home 
                            span.ui.red.text -$3
                        .spacer
                        .ui.huge.fluid.basic.button.choose_cafeteria
                            +ismall name='food'
                            | Cafeteria
                            span.ui.red.text -$5
