template(name='admin')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                h1.ui.header 
                    i.shield.icon
                    |admin
                .ui.segment
                    a.ui.header(href="/tasks")
                        +i name='tasks'
                        | tasks
                //- a.ui.header(href="/tasks")
                //-     +i name='tasks'
                //-     | tasks
                //- +call_method name='create_delta'


template(name='call_method')
    .ui.button.call_method
        |#{name}
