template(name='alerts')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    +i name='phone'
                    |alerts
            .twelve.wide.column
                .ui.list
                    each my_alerts
                        .item 
                            |#{when} #{message}
                            +remove_button
