template(name='sponsorship')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.header sponsorship
            |please donate 
            a(href="/donate") here
            | and contact lorne@minimoneym.com for homepage ad placement.
            +ads
    
    
    
template(name='ads')
    .ui.header ads
