//- template(name='sponsorship')
//-     .ui.stackable.padded.grid
//-         .sixteen.wide.column
//-             .ui.header sponsorship
//-             |please donate 
//-             a(href="/donate") here
//-             | and contact lorne@minimoneym.com for homepage ad placement.
//-             +ads
//- 
//- 
//- 
//- template(name='ads')
//-     .ui.stackable.padded.grid
//-         .sixteen.wide.column
//-             .ui.header ads
//- 
//-             .ui.button bid for tomorrows adspace
//-             .ui.button bid
//-             each bids
//-                 .ui.header #{amount}
//- 
//-             with my_bid
//- 
